[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bumpversion = "*"
coverage = "*"
flake8 = "*"
ipython = "*"
pluggy = "*"
pytest = "*"
tox = "*"
watchdog = "*"
Sphinx = "*"

[packages]
pyflexplot = {editable = true, path = "."}

[requires]
python_version = "3.7"
