Cartopy==0.17.0
cftime==1.0.3.4
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.0.3
netCDF4==1.5.1.2
numpy==1.16.3
pyparsing==2.4.0
pyshp==2.1.0
python-dateutil==2.8.0
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
