alabaster==0.7.12
argh==0.26.2
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
bumpversion==0.5.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
cycler==0.10.0
decorator==4.4.0
docutils==0.14
entrypoints==0.3
filelock==3.0.10
flake8==3.7.7
idna==2.8
imagesize==1.1.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==7.0.0
numpy==1.16.3
packaging==19.0
parso==0.4.0
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.11.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
-e git+git@github.com:MeteoSwiss-APN/pyflexplot.git@339f54a366c535f7bfcb6a479d3656038ae2267a#egg=pyflexplot
Pygments==2.4.0
pyparsing==2.4.0
pytest==4.5.0
pytest-runner==4.4
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
scipy==1.2.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tox==3.11.1
traitlets==4.3.2
urllib3==1.25.2
virtualenv==16.6.0
watchdog==0.9.0
wcwidth==0.1.7
yapf==0.27.0
