Cartopy @ git+ssh://git@github.com/MeteoSwiss-APN/cartopy.git@c6d9877ed29c809d150cf225363b36bfeecb0f84
cftime==1.5.0
click==8.0.1
cycler==0.10.0
geographiclib==1.52
geopy==2.1.0
importlib-metadata==4.6.1
kiwisolver==1.3.1
matplotlib==3.4.2
netCDF4==1.5.7
numpy==1.21.0
Pillow==8.3.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyshp==2.1.3
python-dateutil==2.8.1
scipy==1.7.0
Shapely==1.7.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
zipp==3.5.0
